/* Footer Styles */
.footer {
  background-color: var(--gray);
  padding: var(--fs-xl) var(--fs-sm) var(--fs-lg);
  color: var(--black);
  font-size: var(--fs-sm);
}

.footer-grid {
  max-width: 1200px;
  margin: auto;
}

.footer-section h4 {
  font-size: var(--fs-sm);
  margin-bottom: var(--fs-xs);
  font-weight: 600;
  color: var(--black);
  text-align: left;
}

.footer-links-list {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0;
  padding: 0;
}

.footer-link {
  display: block;
  width: 100%;
  text-align: left;
  text-decoration: none color: var(--black);
  font-size: var(--fs-sm);
  transition: color 0.2s;
  line-height: 1.5;
}

.footer-link:focus,
.footer-link:active,
.footer-link:visited {
  text-decoration: none;
  color: var(--black);
}

.footer-link:hover {
  text-decoration: underline;
  text-decoration-color: var(--blue);
}

.social-icon {
  width: 1.2em;
  height: 1.2em;
  margin-top: 0.2em;
  vertical-align: middle;
}

.footer-bottom {
  text-align: center;
  margin-top: var(--fs-lg);
  font-size: var(--fs-xs);
  color: var(--darkgray);
  width: 100%;
}

.footer-bottom a {
  color: var(--darkgray);
  text-decoration: none;
  margin: 0 0.5rem;
  display: inline-block;
}

@media (min-width: 768px) {
  .footer-grid {
    display: flex;
    gap: var(--fs-lg);
  }

  .footer-section {
    flex: 1 1 0;
  }
}