.process-section {
  font-family: 'Objectivity', sans-serif;
  background-color: var(--gray);
  color: var(--black);
}

.block-type-process + .block .row > div > p:first-child {
  margin-top: 2rem;
}

.process-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

.process-card {
  background-color: var(--white);
  padding: 1.5rem;
  border-radius: 0;
}

.process-number {
  font-size: var(--fs-sm);
}

.process-title {
  font-size: var(--fs-sm);
  font-weight: 700;
}

.process-description {
  font-size: var(--fs-sm);
  color: var(--black);
}

@media (max-width: 600px) {
  .process-title,
  .process-description {
    font-size: var(--fs-sm);
  }
} 