/* Block: event.php */

.event-block {
  margin-bottom: 2rem;
}


.event-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-date {
  font-size: var(--fs-xs);
  color: var(--darkgray);
  margin-bottom: 0.5em;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.event-title {
  font-size: var(--fs-md);
  font-weight: 700;
  margin: 0 0 0.5rem 0;
  color: var(--black);
}

@media (max-width: 768px) {
  /* .event-block {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
  } */
  .event-title {
    font-size: var(--fs-sm);
  }
  .event-date {
    margin-top: 0.5em;
  }
} 